body {
  background-color: darkslategrey;
}


.car-garage-item,
h4,
h3,
p {
  margin: 8px 0;
}

// .cars-garage {
//   height: 270px;
// }

.garage-header-section {
  margin: 5px;
}

.garage-header-section {
  display: flex;
}

.car-add,
.car-add-color,
.add,
.car-update,
.car-update-color,
.update {
  height: 20px;
  padding: 0;
  border-width: 0;
}

.add,
.update {
  padding: 1px 6px;
}

.car-add-color,
.car-update-color,
.reset {
  margin: 0 5px;
}