body {
  background-color: darkslategrey;
}

.header {
  margin: 5px;
}

.car-garage-item,
h4,
h3,
p {
  margin: 6px 0;
}

.garage-header-section {
  margin: 5px;
}

.garage-header-section {
  display: flex;
}

.car-add,
.car-add-color,
.add,
.car-update,
.car-update-color,
.update {
  height: 20px;
  padding: 0;
  border-width: 0;
}

.add,
.update {
  padding: 1px 6px;
}

.car-add-color,
.car-update-color,
.reset {
  margin: 0 5px;
}

.car-header {
  margin-bottom: 9px;
}

.car-name {
  display: inline;
}

.car-race {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: dashed white;
}

@keyframes move-car {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(90vw);
  }
}

.car-svg {
  position: relative;
  top: 10px;
}

.car-svg:hover {
  animation: move-car 4s linear;
}

.car-flag {
  position: absolute;
  top: 5px;
  left: 90vw;
  color: red;
  font-size: 30px;
}